<h1>Welcome to the Volunteer Tracker</h1>

<p><a href="/project_form">Click here to add new Project</a></p>

<p><a href="/volunteer_form">Click here to add new Volunteer to a Project</a></p>

<p><a href="/lists">Click here to see projects list</a></p>

<% if @projects.any?() %>
<p>Click on a Project to update or delete it:</p>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id() %>/edit"><%= project.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no projects yet!</p>
<% end %>
