<h1 class="jumbotron">Your Current Projects</h1>
<div class="current-project">
<% if @projects.any?() %>
<h3>Click on a project to see its volunteers:</h3>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/project_voluntreers/<%= project.id() %>"><%= project.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no projects yet!</p>
<% end %>
</div>
