<h1 class="jumbotron">Project Name: <%= @project.name() %></h1>
<div class="projects-volunteers">
  <% if @project.volunteers().any?() %>
    <h3>Here are all the volunteers for this project:</h3>
    <ul>
      <% @project.volunteers().each() do |volunteer| %>
        <li><%= volunteer.name() %> </li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers assign to this project!</p>
  <% end %>
  <hr>
  <a href="/">Home page</a>
</div>
